@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

.cont {
   
    box-sizing: border-box;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .crp.inp[type=text], .crp.inp[type=number], input, textarea {
    width: 170%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 40%;
  
  }
  
  .crp.lb {
    padding: 12px 12px 22px 0;
    display: inline-block;
  }
  
 
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 10%;
    text-align: left;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 10%;
   
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, .crp.inp[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

    .btn {
        position: relative;
        background-color: #4CAF50;
        border: none;
        font-size: 28px;
        color: #FFFFFF;
        padding: 20px;
        width: 200px;
        text-align: center;
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        text-align: center;
      }
      
      .btn:after {
        content: "";
        background: #f1f1f1;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
      }
      
      .btn:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      } 