.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.header > .links {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.header a.logo {
  font-size: 25px;
  font-family: "Orbitron";
  font-weight: bold;
}

.center {
  display: flex;
  margin-top: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center h1 {
  color: #f1f1f1;
  margin-bottom: 5rem;
  font-size: 80px;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
